@model IEnumerable<FPTLongChau.Areas.Admin.Models.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

<!-- DataTales Example -->
<div class="card mb-4 shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>                   
                        <th>
                             @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            FullName
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Time)
                        </th>
                        <th>
                            Total price
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrice)
                            </td>
                            <td>
                                @if ( item.Status == 0)
                                {
                                    <a class="btn btn-secondary" 
                                    asp-area="Admin" 
                                    asp-controller="Orders" 
                                    asp-action="ChangeStatus" 
                                    asp-route-Status="1"
                                    asp-route-Id="@item.Id"
                                    >Not Confirm</a>
                                }

                                @if (item.Status == 1)
                                {
                                    <a class="btn btn-info">Confirmed</a>
                                }

                            </td>
                            <td>
                                <a class="btn btn-primary mb-2" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Plugins {
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
}

@section Scripts {
    <script src="~/Admin/js/demo/datatables-demo.js"></script>
}

@section Styles {
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
}