@model IEnumerable<FPTLongChau.Areas.Admin.Models.PayMode>

@{
    ViewData["Title"] = "Pay Mode";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p>
    <a asp-action="Create" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create New</span>
    </a>
</p>

<!-- DataTales Example -->
<div class="card mb-4 shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a class="btn btn-success mb-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger mb-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                                <a class="btn btn-primary mb-2" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Plugins {
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
}

@section Scripts {
    <script src="~/Admin/js/demo/datatables-demo.js"></script>
}

@section Styles {
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
}