@model FPTLongChau.Models.ProductViewModel;

@{
	ViewData["Title"] = "Home page";
}
<!-- Products -->
@foreach(var category in Model.Categories)
	@if(Model.Products.Any(p => p.CategoryId == category.Id))
	{

		<section>
			<div class="my-5 container">
				<header class="mb-4">
					<h3>@Html.DisplayFor(modelItem => category.Title)</h3>
				</header>

				<div class="row">
					@foreach(var product in Model.Products)
						@if(product.CategoryId == category.Id)
						{
							<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
								<div class="card w-100 my-2 shadow-2-strong">
									@if(product.Image != null)
									{
										<img src="https://pharmacitylongchau.blob.core.windows.net/imagecontainer/@Html.DisplayFor(modelItem => product.Image)"
											 class="card-img-top"
											 style="aspect-ratio: 1 / 1"
											 alt="@Html.DisplayFor(modelItem => product.Title)" />
									}
									else
									{
										<img src="~/img/default_image.jpg"
											 class="card-img-top"
											 style="aspect-ratio: 1 / 1"
											 alt="@Html.DisplayFor(modelItem => product.Title)" />
									}
									<div class="card-body d-flex flex-column">
										<h5 class="card-title" title="@Html.DisplayFor(modelItem => product.Title)">
											<a class="text-reset" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
												@{
													if(product.Title.Length >= 30)
													{
														product.Title = product.Title.Substring(0, 30) + "...";
													}
												}
												@Html.DisplayFor(modelItem => product.Title)
											</a>
										</h5>
										<p class="card-text">$@Html.DisplayFor(modelItem => product.Price)</p>
										<div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
											<a href="#!"
											   class="btn btn-primary shadow-0 me-1">Add to cart</a>
											<a href="#!"
											   class="btn btn-light px-2 pt-2 icon-hover border">
												<i class="fas fa-heart fa-lg text-secondary px-1"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						}
				</div>
			</div>
		</section>
	}
<!-- Products -->
<!-- Feature -->
<section class="mt-5">
	<div class="text-dark pt-3 container">
		<header class="pt-4 pb-3">
			<h3>Why choose us</h3>
		</header>

		<div class="row mb-4">
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-camera-retro fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Reasonable prices</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Best quality</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Worldwide shipping</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Customer satisfaction</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Happy customers</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Thousand items</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
		</div>
	</div>
	<!-- container end.// -->
</section>
<!-- Feature -->
