@model Product

@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h4>Product</h4>
	<hr />
	<div class="mb-4">
		<a class="btn btn-primary" asp-action="Index">Back to List</a>
		<a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
	</div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd class="col-sm-10">
			@if(Model.Image != null)
			{
				<img src="https://pharmacitylongchau.blob.core.windows.net/imagecontainer/@Html.DisplayFor(model => model.Image)"
					 class="img-thumbnail img-fluid"
					 width="300"
					 alt="@Html.DisplayFor(model => model.Title)" />
			}
			else
			{
				<img src="~/img/default_image.jpg"
					 class="img-thumbnail img-fluid"
					 width="300"
					 alt="@Html.DisplayFor(model => model.Title)" />
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Category.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>

	</dl>
</div>

